* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #0f172a;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 4rem;
  color: #0f172a;
}

.hero h2 {
  margin-top: 20px;
}

.hero p {
  margin-top: 20px;
  color: gray;
}

.hero button {
  margin-top: 30px;
  padding: 12px 25px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}