@import "tailwindcss";

:root {
--primary: #f68b1e;
--primary-hover: #e67e00;
--secondary: #313133;
--background: #f3f4f6;
}

html,
body,
#root {
min-height: 100%;
}

body {
background-color: var(--background);
font-family: "Segoe UI", sans-serif;
color: #1f2937;
}

button {
cursor: pointer;
transition: all 0.2s ease;
}
